/* RESULTS GRID */
.results-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}

.sr-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.srp__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

/* when filters are open */
.srp__content.with-filters {
  grid-template-columns: 250px 1fr;
}

/* Desktop: 3 columns fallback */
@media (max-width: 768px) {
  .results-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Mobile: 2 columns */
@media (max-width: 640px) {
  .results-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .srp-filters {
    position: fixed;
    inset: 0;
    width: 83%;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    padding: 16px;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  .srp-filters.open {
    transform: translateY(0);
  }

  .srp__content.with-filters {
    grid-template-columns: 1fr;
  }
}
